
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Inter", serif;
    font-weight: 400;
}
.nav{
    display: flex;
    height: 110px;
    width: 100%;
    background-color:#d0d4D5;
    align-items: center;
    justify-content:space-between;
    padding: 0 50px;


}
.nav1{
    display: flex;
}
.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
.nav1 ul li{
    margin-right: 40px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.nav1 img{
    width: auto;
    height: 80px;
    margin-right: 60px;
    cursor: pointer;
}
.nav2 i{
    margin-right: 40px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}
.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    background-color:#d0d4D5;
    display: flex;

}
.content-left{
    height: 100%;
    width: 40%;
    padding: 82px 100px;
    /* background-color: aqua; */
}
.content-left h5{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.content-left h1{
    font-size: 55px;
    margin-bottom: 25px;
}
.content-left p{
    font-size: 20px;
    width:60%
    
}
#btn{
    margin-top: 30px;
    color: #fff;
    background: #000;
    font-size: 20px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius:0%;
}
.content-right{
    padding: 110px 100px;
   height: 580px;
    width: 60%;
    /* background-color: #555; */
    white-space: nowrap;
    overflow-x: auto;   
}
.content-right::-webkit-scrollbar{
    display: none;
}
.product{
   width: 30%;
   height: 80%;
   position: relative;
   box-shadow: 0 5px 10px rgba(43, 0, 43, 0.067);
    border-radius: 5px;
    background-color:rgba(62, 26, 62, 0.164);
    display: inline-block;
    margin-right: 20px;
}
.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%; 
}
.product h4{
    position: absolute;
    bottom: 25%;
}
#catogary{
    position: absolute;
    bottom: 18%;
    color: #555;
    text-align: center;
}
#colour{
    position: absolute;
    bottom: 11%;
    color: #555;
}
#price{
    position: absolute;
    bottom: 3%;
    
}
.extraspace{
    height: 60px;
    background-color:#d0d4D5;
}